* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd4f9;
  color: #8a2be2;
}
body.dark-theme {
  background-color: #000000;
}
body.dark-theme h1, body.dark-theme h2, body.dark-theme h3, body.dark-theme h4, body.dark-theme h5, body.dark-theme h6 {
  color: #ffffff !important;
}
body.dark-theme #element {
  color: #ffffff;
}
body.dark-theme p {
  color: #ffffff;
}
body.dark-theme a:hover {
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none !important;
  color: #8a2be2;
  transition: all 0.4s ease;
}
a:hover {
  color: #000000;
}

p {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
  color: #000000 !important;
}

h1 {
  font-size: 60px;
  line-height: 66px;
  margin: 24px 0;
}

h2 {
  color: #ffffff;
  font-size: 50px;
  line-height: 56px;
  font-weight: bold;
}

h3 {
  color: #ffffff;
}

h3,
b,
strong {
  font-weight: bold;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #000000;
}
nav ul {
  gap: 1rem;
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  color: #ffd4f9;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav .navbar-brand .fa-user {
  font-size: 26px;
}
nav .hamburger {
  display: none;
  cursor: pointer;
}
nav .bar {
  display: block;
  width: 20px;
  height: 1px;
  background-color: white;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  padding: 80px 0 80px 0;
}

.leftSection .purple {
  color: blueviolet;
}
.leftSection #element {
  color: #000000;
}
.leftSection .button-group {
  padding: 40px 0;
}
.leftSection .btn {
  padding: 12px;
  background: #ffffff;
  color: black;
  border-radius: 6px;
  border: 2px solid #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.leftSection .btn:hover {
  background-color: #ffd4f9;
  color: #ffffff;
}

.rightSection img {
  width: 400px;
}

.projects .carousel-indicators {
  bottom: -53px;
}
.projects .carousel-item {
  padding: 0 80px;
}
.projects .carousel-item .project-img img {
  width: 600px;
}
.projects .carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education {
  padding: 30px;
}

.timeline-wrapper {
  position: relative;
  padding-bottom: 10px;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #cbcbcb;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #cbcbcb;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #8a2be2;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.secondSection {
  height: 400px;
}
.secondSection .text-grey {
  color: #0c0c0d;
}
.secondSection .box {
  background-color: #ffffff;
  height: 1px;
  width: 45vw;
  margin: 50px 0;
  display: flex;
}
.secondSection .box .vertical {
  height: 60px;
  background-color: #ffffff;
  width: 1px;
  margin: 0 10vw;
}
.secondSection .box .vertical .image-top {
  width: 53px;
  position: relative;
  top: -51px;
  left: -26px;
}
.secondSection .box .vertical .vertical-title {
  position: relative;
  top: 9px;
  left: -2px;
  width: 200px;
}
.secondSection .box .vertical .vertical-desc {
  position: relative;
  top: 60px;
  color: #cbcbcb;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
}

footer {
  height: 200px;
}
footer p {
  font-size: 14px;
  line-height: 20px;
}

.footer {
  padding: 23px 122px;
}
.footer .footer-social ul {
  justify-content: center;
  display: flex;
  gap: 6rem;
}

@media screen and (max-width: 576px) {
  .rightSection img {
    width: 200px;
  }
  .timeline-info {
    margin-left: 4rem;
  }
  .footer {
    padding: 70px 22px;
  }
  .footer .footer-social ul {
    justify-content: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  nav .hamburger {
    display: block;
  }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-49deg);
  }
  nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in;
  }
  nav .nav-item {
    margin: 16px 0;
  }
  nav .nav-menu.active {
    left: 0;
  }
  nav .right {
    gap: 1rem;
  }
  .firstSection {
    flex-direction: column-reverse;
    padding: 0;
  }
  .leftSection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftSection .button-group {
    padding: 20px 0;
  }
  .rightSection img {
    width: 200px;
    padding: 0;
    margin: 0;
  }
  .rightSection {
    width: auto !important;
  }
  .firstSection > div {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstSection > div h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .secondSection {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondSection .box {
    flex-direction: column;
    width: 50vw;
  }
  .secondSection .box .vertical {
    height: unset;
  }
  .secondSection .box .vertical .image-top {
    top: 5px;
    left: -49px;
  }
  .secondSection .box .vertical .vertical-title {
    top: -44px;
    left: 10px;
  }
  .secondSection .box .vertical .vertical-desc {
    left: 10px;
    top: -30px;
  }
  .firstSection .education {
    padding: 30px;
  }
  .timeline-yr {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  .timeline-info {
    margin-left: 4rem;
  }
  .timeline-wrapper:before {
    left: 22px;
    top: 1px;
  }
  .projects .carousel-item .project-img img {
    width: 300px;
  }
  .projects p {
    font-size: 16px;
    line-height: 22px;
  }
  .footer {
    padding: 30px;
  }
  .footer .footer-social ul {
    justify-content: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .rightSection img {
    margin: 0;
  }
  .secondSection .box {
    width: 72vw;
  }
  .secondSection .box .vertical {
    margin: 0 16vw;
  }
}

/*# sourceMappingURL=compile.css.map */
